#image-slide {
  & .swiper-slide {
    aspect-ratio: 16/9;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    border: 4px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.25s;
    &:hover {
      border-color: var(--primary);
      & .zoom-btn {
        transform: translateX(0);
      }
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .zoom-btn {
      background: rgba(0, 0, 0, 0.5);
      width: 2.125rem;
      height: 2.125rem;
      bottom: 0.75rem;
      right: 1rem;
      padding: 0.5rem;
      position: absolute;
      transition: transform 0.25s;
      transform: translateX(3.5rem);
    }

    @media (width < 1025px) {
      & .zoom-btn {
        transform: translateX(0rem);
      }
    }
  }
}


#img-preview .modal-content{
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 71rem;
  object-fit: cover;
}