aside#car-selector {
  background: linear-gradient(180deg, rgba(144, 144, 144, 0.25) 0%, rgba(246, 246, 246, 0.16) 50%);

  & .vertical-swiper {
    width: 240px;
    height: auto;
    overflow: hidden;
    max-height: 720px;
    padding: 0.5rem;

    & .swiper-slide {
      border: 2px solid transparent;
      border-radius: 16px;
      display: flex;
      width: 100%;
      aspect-ratio: 1 / 1 !important;
      flex-direction: column;
      gap: 12px;
      align-items: center;
      justify-content: center;

      transform: scale(0.875);
      transition:
        transform 0.25s,
        border-color 0.25s;

      &.swiper-slide-active {
        transform: scale(1);
        border-color: var(--primary);
        & p {
          opacity: 1;
        }
      }

      & > img {
        width: 100%;
        padding: 0.75rem;
        user-select: none;
        object-fit: contain;
      }

      & p {
        width: 100%;
        font-weight: 600;
        text-align: center;
        color: #000;
        font-size: clamp(10px, 1.75vw, 12px);
        line-height: 1.2;
        opacity: 0;
        position: absolute;
        bottom: 8%;
        margin-top: 0.5rem;
        transition: opacity 0.25s;
      }
    }

    & .car-slide-arrows {
      & button {
        width: 40px;
        height: 40px;
        box-shadow: 0px 3.43px 3.43px 0px rgba(0, 0, 0, 0.25);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 999px;
        padding: 0.875rem;
        outline: none;
        transition:
          background-color 0.25s,
          opacity 0.25s;

        & img {
          transition: filter 0.25s;
        }
        &:not(.swiper-button-disabled):hover {
          background: var(--primary);
          & img {
            filter: invert(1);
          }
        }
      }
    }
  }

  @media (width < 1025px) {
    & .vertical-swiper {
      width: 100%;
    }
  }
}

.pagination-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  padding-right: 1.25rem;
  padding-block: 1.25rem;
  color: #000;
  & .progress {
    --progress: attr(value);
    background: #f1f1f1;
    height: 4px;
    width: 100%;
    max-width: 15rem;

    border-radius: 999px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 999px;
      width: var(--progress);
      height: 100%;
      background-color: #999;
      transition: width 0.25s;
    }
  }
  & button {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 999px;
    transition: background-color 0.25s;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.result-container {
  color: #000;

  &.grid {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    overflow-x: auto;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    padding-bottom: 1.25rem;
  }

  & .result-item {
    &:not(.hidden) {
      animation: result-in 0.5s forwards;
    }
  }
}

@keyframes result-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-item {
  align-items: center;
  gap: 1.25rem;
  color: #000;
  min-width: 20rem;

  flex: 1;

  &:hover {
    & .title {
      color: var(--primary);
    }
  }

  &:not(.hidden) {
    display: flex;
  }

  & .thumb {
    background-color: #f1f1f1;
    border-radius: 1rem;
    overflow: hidden;
    flex-shrink: 0;
    width: 6rem;
    height: 6rem;
    background-image: url("../../images/logo-dark.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 1024px) {
      & {
        width: 9rem;
        height: 9rem;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  & .content {
    & .title {
      font-size: 1.125rem;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transition: color 0.15s;
    }

    & .note {
      color: #3d3a3b;
      & .note-title {
        font-size: 0.875rem;
        font-weight: 500;
      }

      & .note-text {
        font-size: 0.875rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.category {
  background-color: #999;
  width: 100%;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  & .title {
    font-weight: 500;
  }

  & .count {
    @media (max-width: 1024px) {
      font-size: 0.875rem;
    }
  }
}

.sub-category {
  background-color: #fdf4ed;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  & .title {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
