@import "./tailwind/output.css";
@import "./components.css";
@import "./swiper.css";

:root {
  --primary: rgba(240, 103, 36, 1);
  --primary-darken: rgb(181, 79, 28);
  --gray: #d9d9d9;
  --dark-gray: #3d3a3b;
  --stone: #999999;
  --green: rgba(104, 184, 43, 1);
  --green-darken: rgb(68, 132, 18);

  --fs-h1: clamp(32px, 3.33vw, 4rem);
  --fs-h2: clamp(32px, 2.5vw, 3rem);
  --fs-h3: clamp(28px, 2.08vw, 2.5rem);
  --fs-h4: clamp(24px, 1.9vw, 2.25rem);
  --fs-h5: max(1.5rem, 18px);
  --fs-h6: max(1.25rem, 16px);
}

.svg-icon {
  -webkit-mask: var(--src) no-repeat center;
  mask: var(--src) no-repeat center;
  mask-size: contain;
  pointer-events: none;
  transition:
    background-color 0.25s,
    opacity 0.25s;

  &:not([style]) {
    opacity: 0;
  }
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 4rem;
  height: 4rem;
  border: 3.5px solid #999;
  border-radius: 999px;
  transition: transform 0.25s;
  box-shadow: 1px 1px 0.375rem 0px rgba(0, 0, 0, 0.25);

  opacity: 0;
  visibility: hidden;
  transform: translateX(4.5rem);
  transition:
    opacity 0.25s,
    visibility 0.25s,
    transform 0.25s;
  &.visible {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  &:hover {
    & .svg-icon {
      transform: translateY(-25%);
    }
  }
  & svg {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(-90deg) scale(1.2);
    transition: transform 0.25s;
    & circle {
      stroke-dasharray: 283; /* 2 * π * 45 ≈ 283 */
      stroke-dashoffset: 283; /* เริ่มต้นยังไม่ถูกวาด */
      transition: stroke-dashoffset 0.1s;
    }
  }

  & .svg-icon {
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.25s;
  }
}

#warranty-register {
  & .close-modal-button {
    background: #000;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 999px;
    right: 1rem;
  }
  & .field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
    & label {
      font-weight: 500;
      flex-shrink: 0;
    }
  }
  & form {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;
    border-radius: 1rem;
    background: #fff;
    padding: 1.5rem clamp(1.5rem, 4vw, 4rem);
    &:has(input:not(:valid)) button[type="submit"] {
      pointer-events: none;
      opacity: 0.5;
      filter: grayscale(1);
    }
    & input {
      border: 1px solid #d9d9d9;
      &::placeholder {
        color: #666;
        font-weight: 400;
      }
    }

    & label {
      display: block;
    }
    & label,
    & .label {
      font-size: 0.875rem;
      flex-shrink: 0;

      padding-bottom: 0.25rem;
    }

    & .radio-input {
      display: flex;
      gap: 0.375rem;
      align-items: center;
      & input {
        accent-color: var(--primary);
      }
      & label {
        color: #666;
        font-weight: 400;
      }
    }
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);

  z-index: 500;
  top: 0;
  left: 0;
  padding: 1.5rem;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  & .close-modal-button {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
  }

  & .modal-content::-webkit-scrollbar {
    width: 6px;
  }
}

.file-input {
  position: relative;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 999px;
  padding: 0.75rem 1rem;
  & input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    gap: 1rem;
    & .placeholder {
      color: #666;
      &::after {
        content: attr(data-value);
      }

      &:not([data-value])::after {
        content: attr(data-placeholder);
      }
    }
    & button {
      background: #999;
      padding: 0.25rem 0.75rem;
      border-radius: 999px;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-size: 0.625rem;
      cursor: pointer;
      flex-shrink: 0;
      & img {
        width: 0.75rem;
        height: 0.75rem;
        object-fit: contain;
      }
    }
  }
}
