@import "./tailwind/output.css";
@import "./components.css";
@import "./swiper.css";

:root {
  --primary: rgba(240, 103, 36, 1);
  --primary-darken: rgb(181, 79, 28);
  --gray: #d9d9d9;
  --dark-gray: #3d3a3b;
  --green: rgba(104, 184, 43, 1);
  --green-darken: rgb(68, 132, 18);

  --fs-h1: clamp(32px, 3.33vw, 4rem);
  --fs-h2: clamp(32px, 2.5vw, 3rem);
  --fs-h3: clamp(28px, 2.08vw, 2.5rem);
  --fs-h4: clamp(24px, 1.9vw, 2.25rem);
  --fs-h5: max(1.5rem, 18px);
  --fs-h6: max(1.25rem, 16px);
}

.svg-icon {
  -webkit-mask: var(--src) no-repeat center;
  mask: var(--src) no-repeat center;
  mask-size: contain;
  pointer-events: none;
  transition:
    background-color 0.25s,
    opacity 0.25s;

  &:not([style]) {
    opacity: 0;
  }
}

#back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 4rem;
  height: 4rem;
  border: 3.5px solid #999;
  border-radius: 999px;
  transition: transform 0.25s;
  box-shadow: 1px 1px 0.375rem 0px rgba(0, 0, 0, 0.25);

  opacity: 0;
  visibility: hidden;
  transform: translateX(4.5rem);
  transition:
    opacity 0.25s,
    visibility 0.25s,
    transform 0.25s;
  &.visible {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  &:hover {
    & .svg-icon {
      transform: translateY(-25%);
    }
  }
  & svg {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(-90deg) scale(1.2);
    transition: transform 0.25s;
    & circle {
      stroke-dasharray: 283; /* 2 * π * 45 ≈ 283 */
      stroke-dashoffset: 283; /* เริ่มต้นยังไม่ถูกวาด */
      transition: stroke-dashoffset 0.1s;
    }
  }

  & .svg-icon {
    width: 1.25rem;
    height: 1.25rem;
    transition: transform 0.25s;
  }
}
