@import "./tailwind/output.css";

:root {
  --primary: #5965d1;

  --fs-h1: clamp(32px, 3.33vw, 4rem);
  --fs-h2: clamp(32px, 2.5vw, 3rem);
  --fs-h3: clamp(24px, 2.08vw, 2.5rem);
  --fs-h4: clamp(24px, 1.9vw, 2.25rem);
  --fs-h5: max(1.5rem, 18px);
  --fs-h6: max(1.25rem, 16px);
}

/* @font-face {
  font-family: "";
  font-weight: 300;
  src: url("../fonts/") format("woff2");
} */

html {
  font-size: clamp(14px, 0.84vw, 16px);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #050505;
  animation: fade-in 0.35s forwards;
  background-repeat: no-repeat;
  position: relative;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  touch-action: manipulation;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-smooth: always;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

h6 {
  font-size: var(--fs-h6);
}

button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

ul li {
  list-style: disc;
  margin-left: 2rem;
}

ol li {
  list-style: decimal;
  margin-left: 2rem;
}

.disabled {
  pointer-events: none;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
