@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);

  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1537px;
}

@utility prose {
  /* Typography */
  del {
    @apply line-through opacity-60;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-4 font-bold empty:hidden;
  }

  p {
    @apply mb-4 empty:hidden;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }

  img {
    @apply w-full rounded-xl bg-black/20 object-cover;
  }

  /* Lists */

  ol,
  ul {
    @apply mb-4 ml-8;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* Tables */

  table {
    @apply my-4 w-full table-auto border-collapse text-left text-sm/6;

    caption {
      @apply mt-2 caption-bottom text-left text-sm/6;
    }

    thead {
      @apply border-b border-neutral-200;
    }

    tfoot {
      @apply border-t border-neutral-200;
    }

    tr {
      @apply border-y border-neutral-200 first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom font-semibold;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }
}

@utility container {
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 1320px;

  @variant max-2xl {
    max-width: 1240px;
  }

  @variant max-xl {
    max-width: 1025px;
  }

  @variant max-lg {
    padding-inline: 2rem;
  }

  @variant max-md {
    padding-inline: 1.25rem;
  }
}
