@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-primary-darken: var(--primary-darken);
  --color-gray: var(--gray);
  --color-green: var(--green);
  --color-stone: var(--stone);
  --color-dark-gray: var(--dark-gray);
  --color-green-darken: var(--green-darken);

  --breakpoint-sm: 641px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1537px;
}

@utility container {
  padding-inline: 1.25rem;
  margin-inline: auto;
  max-width: 1366px;

  @variant max-2xl {
    max-width: 1240px;
  }

  @variant max-xl {
    max-width: 1025px;
  }

  @variant max-lg {
    padding-inline: 2rem;
  }

  @variant max-md {
    padding-inline: 1.25rem;
  }
}

@layer base {
  input:not([type="checkbox"]):not([type="radio"]) {
    @apply py-3 px-6 rounded-full bg-white w-full;
    border-color: #d9d9d9;
    outline: none;
    transition: box-shadow 0.25s;
    &::placeholder {
      color: #3d3a3b;
      font-weight: 600;
    }
    &:focus {
      box-shadow: 0px 0px 0px 3px var(--color-primary) inset;
    }
  }
  .border {
    @apply border-gray;
  }

  h1 {
    font-size: var(--fs-h1);
  }

  h2 {
    font-size: var(--fs-h2);
  }

  h3 {
    font-size: var(--fs-h3);
  }

  h4 {
    font-size: var(--fs-h4);
  }

  h5 {
    font-size: var(--fs-h5);
  }

  h6 {
    font-size: var(--fs-h6);
  }

  * {
    touch-action: manipulation;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
    scroll-padding-top: 6rem;
  }

  html {
    font-size: clamp(14px, 0.84vw, 16px);
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    background: #fff;
    animation: fade-in 0.35s forwards;
    background-repeat: no-repeat;
    position: relative;
    font-family: "Prompt", sans-serif;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  ul li {
    list-style: disc;
    margin-left: 2rem;
  }

  ol li {
    list-style: decimal;
    margin-left: 2rem;
  }

  .disabled {
    pointer-events: none;
  }

  /* Scroll bar */

  ::-webkit-scrollbar {
    width: 10px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .copyright {
    background: linear-gradient(90deg, #3d3a3b 0%, #000000 100%);
    color: #959595;
    font-size: 12px;
  }

  nav {
    & #lang-switcher {
      & .dropdown {
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.25s,
          visibility 0.25s;
      }

      &.active .dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .link {
    transition: color 0.25s;
    &:hover {
      color: var(--primary);
    }
  }
}

@utility prose {
  /* Typography */
  del {
    @apply line-through opacity-60;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-8 mb-6 font-semibold empty:hidden;
  }

  p {
    @apply mb-6 empty:hidden;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }

  img {
    @apply w-full bg-black/20 object-cover;
  }

  /* Lists */

  ol,
  ul {
    @apply mb-4 ml-8;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* Tables */

  table {
    @apply my-4 w-full table-auto border-collapse text-left text-sm/6;

    caption {
      @apply mt-2 caption-bottom text-left text-sm/6;
    }

    thead {
      @apply border-b border-neutral-200;
    }

    tfoot {
      @apply border-t border-neutral-200;
    }

    tr {
      @apply border-y border-neutral-200 first:border-t-0 last:border-b-0;
    }

    th {
      @apply align-bottom font-semibold;
    }

    td,
    th {
      @apply p-2 first:pl-0 last:pr-0;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        @apply my-2 first:mt-0 last:mb-0;
      }
    }
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center gap-x-2;
  }
  .btn-primary {
    @apply flex items-center justify-center gap-x-2 py-2 px-6 rounded-full bg-primary text-white transition-colors hover:bg-primary-darken;
  }
  .btn-green {
    @apply flex items-center justify-center gap-x-2 py-2 px-6 rounded-full bg-green text-white transition-colors hover:bg-green-darken;
  }
  .btn-stroke-primary {
    @apply flex items-center justify-center gap-x-2 py-2 px-6 rounded-full bg-transparent text-primary border border-primary transition-colors hover:bg-primary hover:text-white;

    & .svg-icon {
      width: 24px;
      height: 24px;
      background: var(--primary);
    }
    &:hover .svg-icon {
      background: #fff;
    }
  }
  .btn-rounded-gray {
    @apply flex items-center justify-center p-3.5 size-11 rounded-full bg-transparent transition-colors;
    border: 1px solid #f1f1f1;

    &:hover {
      background-color: #f1f1f1;
    }
  }
  .btn-stroke-gray {
    @apply flex items-center text-sm justify-center w-fit rounded-full bg-transparent transition-colors;
    border: 1px solid #f1f1f1;

    &:hover {
      background-color: var(--primary);
      color: #fff;
    }
  }
}
